*{
    margin:0;
    padding:0;
}
body{
    background-color:#000;
    color:#fff;
    font-family:'Ubuntu Mono';
}
#header{
    background-color:#55534b;
}
#header h1{
    padding:3px 0px 3px 8px;
    color:#dfdbd2;
}
#container{
    font-size:150%;
    margin:1px 0 0 2px;
    line-height:110%;
}
.hostname{
    color:#8ae234;
    font-weight:bold;
}
.cmdLine{
    color:#00c400;
}
.currentDir{
    color:#729fcf;
    font-weight:bold;
}
/* Cursor blink css code from http://cssdeck.com/labs/pure-css-osx-terminal */
@keyframes blink
{
	0%   {  background:rgba(99,222,0,100);  }
	100% {  background:rgba(99,222,0,0);  }
}

@-webkit-keyframes blink {
	0%   {  background:rgba(99,222,0,100);  }
	100% {  background:rgba(99,222,0,0);  }
}
@-moz-keyframes blink {
	0%   {  background:rgba(99,222,0,100);  }
	100% {  background:rgba(99,222,0,0);  }
}
.cursor {
    background:#00c400;
    display:inline-block;
    width:11px;
    height:19px;
    margin-bottom:-4px;
    -webkit-animation-name: blink;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: blink;
    -moz-animation-duration: 1s;
    -moz-animation-iteration-count: infinite;
}
